{% extends "skeleton.html" %}

{% block contents %}

{% if usr %}

<div id="dvAddRating" class="card" style="margin: 10px">
    <div class="card-header">Add New Score</div>
    <div class="card-body">
        <form id="frmNewRating" name="frmNewRating" action="/score/add/{{ trip_id }}" method="post">
            <label for="edRating">Rating</label>
            <input type="number" min="1" max="5" id="edRating" name="edRating" placeholder="rating (1-5)..." class="form-control" required />
            <br/>
            <label for="edComment">Comment</label>
            <textarea id="edComment" name="edComment" placeholder="your comment..." class="form-control"></textarea>
            <br/>
            <div style="margin: 5px">
                <a href="#" onclick="document.frmNewRating.submit()" class="btn btn-primary">
                    <img width="24px" src="/static/add.svg" title="Add" />
                    &nbsp; Add
                </a>
                <a href="#" onclick="window.location='/'" class="btn btn-primary">
                    <img width="24px" src="/static/back.svg" title="Back" />
                    &nbsp; Back
                </a>
            </div>
        </form>
    </div>
</div>

{% endif %}
{% endblock %}
