{% extends "skeleton.html" %}

{% block contents %}
{% if scores %}
    <div class="card" id="dvScores" style="margin: 10px">
        <div class="card-header">Scores</div>
        <div class="card-body">
            <ul class="list-group list-group-flush list-group-numbered">
            {% for score in scores %}
                <li class="list-group-item">
                    {% include "score_entry.html" %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <b>No scores found...</b>
{% endif %}
{% endblock %}
