{% extends "skeleton.html" %}

{% block contents %}
{% if scores %}
    <div class="card" id="dvScores" style="margin: 10px">
        <div class="card-header">Scores</div>
        <div class="card-body">
            <ul class="list-group list-group-flush list-group-numbered">
            {% for score in scores %}
                <li class="list-group-item">
                    <div>
                        <strong>Score:</strong> {{ score.value }}<br/>
                        <strong>Trip ID:</strong> {{ score.trip_id }}<br/>
                        <strong>User ID:</strong> {{ score.user_id }}<br/>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <b>No scores found...</b>
{% endif %}
{% endblock %}
