{% extends "skeleton.html" %}

{% block contents %}
{% if usr %}
<div class="card" id="dvTrips" style="margin: 10px;">
    <div class="card-header" style="display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); justify-content: center; align-items: center;">
        <div style="display: flex; justify-content: start; align-items: center; text-align: center; margin-top:20px;">
            <h5>
                My Trips - {{ usr.name }} {{ usr.surname }}
            </h5>
        </div>
        <div id="dvButtons" style="display: flex; justify-content: end; height: fit-content;">
            <a class="btn btn-primary" href="{{ url_for('trip_blpr.trip_add') }}" role="button">
                <img width="24px" src="/static/add.svg" title="add" />
                &nbsp;
                Add Trip
            </a>
        </div>
    </div>
    <div class="card-body">
        {% if my_trip_list %}
        {% for trip in my_trip_list %}
        {% include "trip_entry.html" %}
        {% endfor %}
        {% else %}
        <b>No trips found...</b>
        {% endif %}
    </div>
</div>

<div class="card" id="dvOtherTrips" style="margin: 10px; margin-top: 20px;">
    <div class="card-header">Other Trips</div>
    <div class="card-body">
        {% if other_trip_list %}
        {% for trip in other_trip_list %}
        <div style="padding: 1rem; 
        margin-bottom: 1rem; 
        border-radius: 0.5rem; 
        border-width: 2px; 
        border-color: #D1D5DB; 
        background-color: #F9FAFB; 
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); ">
        {% include "trip_entry.html" %}
        </div>
        {% endfor %}
        {% else %}
        <b>No trips found...</b>
        {% endif %}
    </div>
</div>

{% else %}
<div id="registerForm" class="card formulario-desenfocado" style="margin: 10px; max-width: 1000px; margin: 0 auto;">
    <div class="card-header bg-dark text-white p-2 mb-3">Register</div>
    <div class="card-body" style="background-color: transparent;">
        <form id="frmRegister" name="frmRegister" action="/user/add" method="POST">
            <div class="mb-3">
                <label for="edEmail" class="form-label">Email / User</label>
                <input type="text" class="form-control" id="edEmail" name="edEmail"
                    placeholder="hello@example.format / user" />
            </div>
            <div class="mb-3">
                <label for="edPswd" class="form-label">Password</label>
                <input type="password" class="form-control" id="edPswd" name="edPswd" placeholder="your pass..." />
            </div>
            <div class="mb-3">
                <label for="edName" class="form-label">Name</label>
                <input type="text" class="form-control" id="edName" name="edName" placeholder="your name..." />
            </div>
            <div class="mb-3">
                <label for="edSurname" class="form-label">Surnames</label>
                <input type="text" class="form-control" id="edSurname" name="edSurname"
                    placeholder="your surnames..." />
            </div>
            <div class="mb-3">
                <label for="edAge" class="form-label">Age</label>
                <input type="number" class="form-control" id="edAge" name="edAge" placeholder="your age..." />
            </div>
            <div class="mb-3">
                <label for="edPhone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="edPhone" name="edPhone" placeholder="phone number..." />
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="#" onclick="document.frmRegister.submit()" class="btn btn-primary" style="flex: 1;">
                    <img width="24px" src="/static/register.svg" title="register" />
                    &nbsp;
                    Register
                </a>
            </div>
        </form>
        <div class="mt-3">
            <p>Already have an account? <a href="#" id="showLoginForm">Login here</a></p>
        </div>
    </div>
</div>

<div id="loginForm" class="card formulario-desenfocado" style="margin: 10px; max-width: 1000px; margin: 0 auto; display: none;">
    <div class="card-header bg-dark text-white p-2 mb-3">Login</div>
    <div class="card-body">
        <form id="frmLogin" name="frmLogin" action="/login" method="POST">
            <div class="mb-3">
                <label for="edEmailLogin" class="form-label">Email</label>
                <input type="text" class="form-control" id="edEmailLogin" name="edEmail"
                    placeholder="hello@example.format" />
            </div>
            <div class="mb-3">
                <label for="edPswdLogin" class="form-label">Password</label>
                <input type="password" class="form-control" id="edPswdLogin" name="edPswd" placeholder="your pass..." />
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="#" onclick="document.frmLogin.submit()" class="btn btn-primary" style="flex: 1;">
                    <img width="24px" src="/static/login.svg" title="login" />
                    &nbsp;
                    Login
                </a>
            </div>
        </form>
        <div class="mt-3">
            <p>Don't have an account? <a href="#" id="showRegisterForm">Register here</a></p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

<div style="margin-top: 20px;">
    {% set error_list = get_flashed_messages(with_categories=True) %}
    {% if error_list %}
    {% for category, message in error_list %}
    <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show"
        role="alert" aria-label="error:">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

</div>