{% extends "skeleton.html" %}

{% block contents %}
{% if usr %}
<div class="card" id="dvTrips" style="margin: 10px">
  <div class="card-header">Trips</div>
  <div class="card-body">
      {% if trip_list %}
          <ul class="list-group list-group-flush list-group-numbered">
          {% for trip in trip_list %}
              <li class="list-group-item">
                  {% include "trip_entry.html" %}
              </li>
          {% endfor %}
          </ul>
      {% else %}
          <b>No trips found...</b>
      {% endif %}
      <div id="dvButtons" style="margin-top: 5%">
          <a class="btn btn-primary" href="/trip/add" role="button">
              <img width="24px" src="/static/add.svg" title="add" />
              &nbsp;
              Add Trip
          </a>
      </div>
  </div>
</div>
{% else %}
<div id="dvLogin" class="card" style="margin: 10px; max-width: 1000px; margin: 0 auto;">
    <div class="card-header">Access</div>
    <div class="card-body">
        <form id="frmLogin" name="frmLogin" action="/login" method="POST">
            <div class="mb-3">
                <label for="edEmail" class="form-label">Email</label>
                <input type="text" class="form-control" id="edEmail" name="edEmail" placeholder="hello@example.format" />
            </div>
            <div class="mb-3">
                <label for="edPswd" class="form-label">Password</label>
                <input type="password" class="form-control" id="edPswd" name="edPswd" placeholder="your pass..."/>
            </div>
            <div class="mb-3">
                <label for="edName" class="form-label">Name</label>
                <input type="text" class="form-control" id="edName" name="edName" placeholder="your name..."/>
            </div>
            <div class="mb-3">
                <label for="edSurname" class="form-label">Surnames</label>
                <input type="text" class="form-control" id="edSurname" name="edSurname" placeholder="your surnames ... (if you haven't already put your last name above)"/>
            </div>
            <div class="mb-3">
                <label for="edAge" class="form-label">Age</label>
                <input type="number" class="form-control" id="edAge" name="edAge" placeholder="your age..."/>
            </div>
            <div class="mb-3">
                <label for="edPhone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="edPhone" name="edPhone" placeholder="phone number..."/>
            </div>
            <div class="d-flex justify-content-between">
                <a href="#" onclick="document.frmLogin.submit()" class="btn btn-primary flex-grow-1 mx-1">
                    <img width="24px" src="/static/login.svg" title="login" />
                    &nbsp;
                    Login
                </a>
                <a href="#" onclick="document.frmLogin.action = '/user/add'; document.frmLogin.submit()" class="btn btn-primary flex-grow-1 mx-1">
                    <img width="24px" src="/static/register.svg" title="register" />
                    &nbsp;
                    Register
                </a>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
