<div>
    {% if score.get("error") %}
        <b>{{ score.error }}</b><br/>
    {% else %}
        <b>Rating:</b>&nbsp;<span style="font-size: 100%">{{ score.rating }}</span><br/>
        <b>Comment:</b>&nbsp;<span style="font-size: 100%">{{ score.comment }}</span><br/>
        <b>Trip:</b>&nbsp;<span style="font-size: 100%">{{ score.trip.origin }} to {{ score.trip.destination }}</span><br/>
        <b>Date:</b>&nbsp;<span style="font-size: 100%">{{ score.date }}</span><br/>
        <b>User:</b>&nbsp;<span style="font-size: 100%">{{ score.user['name'] }} {{ score.user['surname'] }}</span><br/>
    {% endif %}
</div>
